.testimonials {
    height: 669px;

    .testimonials-content {
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        .testimonialsTxt-wrapper{
            height: 300px;
            
            .testimonials-H2 {
                margin-top: 3.88em;
                font-size: 25px;
                font-weight: 700;
                line-height: 25px;
                color: var(--color-accent);
            }
            
            .testimonials-H3 {
                margin-top: .4em;
                font-size: 52px;
                font-weight: 700;
                line-height: 52px;
                color: var(--color-primary);
            }
            
            p {
                margin-top: -1.4em;
                line-height: 24px;
                
                .text-br {
                    display: block;
                }
            }
        }
        .tile-wrapper {
            width: 1400px;
            margin-top: -0.75em;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}