.testimonials {
    height: 669px;
    
    .testimonials-content {
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        .testimonialsTxt-wrapper{
            height: 300px;
            h3 {
                margin-top: -.3em;
                font-size: 52px;
                font-weight: 700;
                line-height: 52px;
                color: var(--color-primary);
            }
            h4 {
                margin-top: 4em;
                font-size: 25px;
                font-weight: 700;
                line-height: 25px;
            }
        
            p {
                margin-top: -2em;
                line-height: 24px;
                
                .text-br {
                    display: block;
                }
            }
        }
        .tile-wrapper {
            width: 1400px;
            margin-top: -1em;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}