.pricingPlan-container {
    height: 692px;
    width: 1365px;

    .pricingPlan-h2 {
        margin-top: 0em;
        font-size: 25px;
        font-weight: 700;
        line-height: 25px;
    }

    .pricingPlan-h3 {
        margin-top: .45em;
        font-size: 52px;
        font-weight: 700;
        line-height: 52px;
        color: var(--color-secondary);
    }

    .txt-br {
        display: block;
    }

    .priceList-container {
        display: flex;
        margin-top: -1.9em;
        align-items: center;
        justify-content: space-between;
    }
}