.hero{
    height: 715px;
    width: 100%;
    padding: 3em;
    display: grid;
    grid-template-columns: 220px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--color-accent3);
    
    .heroText-container{
        grid-column: 2;
        grid-row: 2;

        @media(width <= 1600px) {
            grid-column: 2/span 3;
            grid-row: 2;
        }
        
        .hero-H1{
            font-size: 25px;
            line-height: 25px;
            font-weight: 700;
            margin-top: .6em;
            margin-bottom: 0em;
            color: var(--color-accent);
        }

        h2{
            font-size: 80px;
            line-height: 80px;
            font-weight: 700;
            margin-top: .225em;
            margin-bottom: 0em;
            color: var(--color-4);

            #heroH2-span{
                display: block;
            }
        }

        p{  
            .heroP-span{
            display: block;
            line-height: 24px;
            margin-bottom: .3em;
            }
        }
    }

    #hero-img {
        margin-top: .4em;
        grid-column: 3;
        grid-row: 2/ span3;
    }

    @media(width <= 1700px) {
        #hero-img {
            margin-top: 1.65em;
            margin-left: .3em;
        }
    }

    @media(width <= 1600px) {
        #hero-img {
            margin-top: 4.1em;
            margin-left: .3em;
        }
    }

    @media(width <= 1600px) {
        #hero-img {
           display: none;
        }
    }
}
