footer{
    height: 90px;
    background-color: var(--color-secondary);
    
    .container {
        height: 90px;
        max-width: 1464px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .footerLink-Container{
            display: flex;
            align-items: center;

            .footer-icon{
                height: 0.9375em;
                width: 0.9375em;
                margin: 10px;
                border-radius: 50%;
                background-color: var(--color-primary);
                
                .icon-content{
                    content: '';
                    height: 0.4em;
                    width: 0.4em;
                    position: absolute;
                    margin-left: .41em;
                    margin-top: .5em;
                    transform: translate(-50%, -50%) rotate(45deg);
                    border-right:2px solid var(--color-secondary);
                    border-top:2px solid var(--color-secondary);
                }
            }

            #terms-link{
                display: flex;
                align-items: center;
                margin-right: 40px;
            }

            #policy-link{
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
    }
}