
header{
    .container{
        padding: 0;

        .contactInfo-bar{

            display: flex;
            padding: 0 2.15em;
            height: 47px;
            align-items: center;
            justify-content: space-between;
            background-color: var(--color-secondary);
            
            .left-content {
                width: 25.2em;
                display: flex;
                margin-left: 0em;
                align-items: center;
                justify-content: space-around;

                .header-link {
                    text-decoration: none;
                }

                #nr-text{
                    margin-left: -1em;
                    font-family: inter;

                    &:hover {
                        color: var(--color-accent);
                    }
                }

                #mail-icon{
                    margin-left: -.2em;
                    margin-right: -1.8em;
                }

                #mail-text{
                    font-family: inter;
                    margin-right: -.8em;
                    margin-left: .5em;

                    &:hover {
                        color: var(--color-accent);
                    }
                }
            }
            .right-content{
                width: 11em;
                margin-right: 1em;
            }
        }

        .nav-bar{
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 3em;
            background-color: var(--color-primary);

            .nav-links{
                display: inline-flex;
                align-items: center;
                justify-content: space-around;
                font-size: 18px;
                font-weight: 600;
                color: var(--color-secondary);
            }

            #brandLogo-storaid{
                margin-left: 0em;
            }

            .navLink-wrapper{
                width: 25em;
                display: flex;
                align-items: center;
                justify-content: space-around;
                .nav-links{ 
                    &:hover{
                        text-decoration: none;
                        color: var(--color-accent);
                    }
                }
            }
        }
    }
}