.blogandnews-container {
    height: 727px;
    width: 1435px;
    margin-top: -5em;

    .blog-header {
        font-size: 25px;
        font-weight: 700;
        line-height: 25px;
        margin-top: 1.6em;
    }

    .blogTxt-container {
        margin-top: -4em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .blogH3 {
            width: 890px;
            margin-top: 1.34em;
            margin-bottom: .3em;
            font-size: 52px;
            font-weight: 700;
            line-height: 52px;
            color: var(--color-secondary);
        }

        .blogP {
            width: 890px;
            margin-bottom: -3em;
            line-height: 24px;
            color: var(--color-secondary);
        }

    }

    .cards-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}