.blogandnews-container {
    height: 727px;
    width: 1364px;

    .blog-header {
        font-size: 25px;
        font-weight: 700;
        line-height: 25px;
    }

    .blogTxt-container {
        margin-top: -4em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .blogH3 {
            font-size: 52px;
            font-weight: 700;
            line-height: 52px;
            color: var(--color-secondary);
        }

        .blogP {
            margin-bottom: -2em;
            line-height: 24px;
            color: var(--color-secondary);
        }

    }

    .cards-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}