.socialMedia-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .socialMedia-icon{
        height: 2em;
        width: 2em;
        border-radius: 50%;
        background-color: var(--color-accent);

        &:hover{
            background-color: var(--color-primary);
        }
                    
        #socialMedia1{
            margin-top: .31em;
            margin-left: .6em;
        }

        #socialMedia2{
            margin-top: .45em;
            margin-left: .43em;
        }

        #socialMedia3{
            margin-top: .32em;
            margin-left: .35em;
        }

        #socialMedia4{
            margin-top: .5em;
            margin-left: .35em;
        }
    }
}
