.SubscribeForm-container {
    height: 100px;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .subscribe{
        display: flex;
    }

    .input-wrapper {
        margin-top: 1.5em;
    }

    .subscribe-label {
        margin-bottom: 0em;
    }

    .subscribe-input {
        height: 60.75px;
        margin-top: -1.4em;
        outline: none;
        width: 540px;
        border-radius: 0.3125em;
        color: var(--color-secondary);
        border: 1px solid var(--color-accent);
    }

    .subscribe-asterisk{
        margin-left: -23em;
        position: relative;
        color: var(--color-primary);
    }

    .subscribe-span {
        display: block;
        margin-top: .5em;
        color: red;
        font-size: 14px;
    }
    
    ::placeholder {
        color: var(--color-accent2);
    }

    .subscribe-btn {
        height: 60.75px;
        width: 102px;
        border: none;
        font-size: 15px;
        font-weight: 600;
        margin-top: 1.6em;
        margin-left: 22px;
        font-family: urbanist;
        border-radius: 0.3125em;
        color: var(--color-secondary);
        background-color: var(--color-accent);

        &:hover {
            cursor: pointer;
            color: var(--color-primary);
            background-color: var(--color-secondary);
        }

    }
}

.confirmedSubscription {
    display: flex;
    align-items: center;
    height: 100px;
    width: 600px;
    margin-top: -1em;
    padding: .3em;
    text-align: center;
    border-radius: 0.625em;
    background-color: var(--color-primary);
    border: 3px solid var(--color-2);

    &:hover {
        border-color: var(--color-accent);
    }

    #confirm-txt {
        font-size: 25px;
        font-weight: 600;
        line-height: 25px;
        color: var(--color-secondary);
    }

    .confirm-btn {
        height: 45px;
        width: 159.64px;
        border: none;
        cursor: pointer;
        margin-top: .2em;
        margin-right: 1em;
        font-size: 15px;
        font-weight: 600;
        font-family: urbanist;
        border-radius: 0.3125em;
        color: var(--color-secondary);
        background-color: var(--color-accent);

        &:hover {
            color: var(--color-primary);
            background-color: var(--color-secondary);
        }
    }
}

.subscribe-input:focus {
    outline: none;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}
.subscribe-input.error{
    color: red;
    border-color: red;
}
.subscribe-input.error ~ .subscribe-asterisk {
    color: red;
}
.subscribe-input.error::placeholder{
    color: red;
}

.form-wrapper {
    display: grid;
}