.tileSmall {
    display: grid;
    gap: 1em;
    height: 156px;
    width: 321px;
    border-radius: 0.625em;
    border: 3px solid var(--color-2);

    &:hover{
        border: 3px solid var(--color-accent);
    }

    .tileSmallHeading {
        font-size: 25px;
        font-weight: 700;
        line-height: 25px;
        margin-top: .8em;
        margin-left: .8em;
        color: var(--color-secondary);
    }

    p{
        font-size: 16px;
        line-height: 20px;
        margin-left: 1.3em;
        margin-right: 1em;
        color: var(--color-secondary);
    }
}