@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {box-sizing: border-box};

:root{
    --color-primary: #FFFFFF;
    --color-secondary: #12372A;
    --color-accent: #F1C30C;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Inter, sans-serif;
    --color-primary: #FFFFFF;
    --color-secondary: #12372A;
    --color-accent3: rgba(18, 55, 42, 0.80);
    --color-accent: #F1C30C;
    --color-4: #F1FFEA;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--color-primary);
    
    &:hover {
        text-decoration: underline;
    }
}

p{
    color: var(--color-primary);
}

h1,h2,h3,h4,h5,h6 {
    color:var(--color-accent);
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem
}



.banner {
    height: 467px;
    padding: 6.35em;
    color: var(--color-4);
    background-color: var(--color-accent3);

    .banner-text{

        h1{
            padding-left: 2.03em;
            font-size: 80px;
            line-height: 80px;
            font-weight: 700;
            color: var(--color-4);
        }

        .banner-text{
            padding-left: 10.1em;
            color: var(--color-4);

            .text-br{
                display: block;
            }
        }
    }
}