.faq-wrapper {
    height: 433px;
    width: 1369px;
    display: flex;
    align-content: center;
    justify-content: space-between;

    .faqTxt-container {
        width: 597px;

        .faqH2 {
            font-size: 25px;
            font-weight: 700;
            line-height: 30px;
            margin-top: -.1em;
            margin-bottom: 0em;
            color: var(--color-accent2);
        }

        .faqH3 {
            margin-top: .3em;
            font-size: 52px;
            font-weight: 800;
            line-height: 52px;
            color: var(--color-secondary);
        }

        .faqP {
            margin-top: -1.9em;
            line-height: 24px;
            color: var(--color-secondary);
        }
    }

    .faqAccordion-container {
        width: 600px;
        margin-top: 2.35em;
    }
}